name: PR validation
on: pull_request
jobs:
  check-version-bump:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v3
        with:
          path: pr

      - name: Checkout main
        uses: actions/checkout@v3
        with:
          ref: refs/heads/main
          path: main


      - name: Extract current version
        id: versions
        run: |
          echo ::set-output name=current::$(grep version main/pyproject.toml | awk -F\" '{print $2}')
          echo ::set-output name=candidate::$(grep version pr/pyproject.toml | awk -F\" '{print $2}')

      - name: Install Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8

      - name: Compare versions
        run: python pr/scripts/compare_version.py ${{ steps.versions.outputs.current }} ${{ steps.versions.outputs.candidate }}
